Package: fr.ezheisenberg.pinkybattery
Name: PinkyBattery
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: EzHeisenberg
Author: EzHeisenberg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
